<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">
          
       <!-- Create a beans for LocalTime and LocalDate -->
       <bean id="currentTime" class="java.time.localTime" factory-method="now" />
       <bean id="currentDate" class="java.time.localDate" factory-method="now" />
       
       <!-- Target Bean: WishMessageGenerator -->
       <bean id="wishBean" class="com.example.beans.WishMessageGenerator">
       		<!-- Constructor Injection -->
       		<constructor-arg name="time" ref ="currentTime" />
       		<constructor-arg name="date" ref ="currentDate" />
    		
    		<!-- Setter injection (Overrides constructor values) -->
    		<property name="time" ref="currentTime"/>
    		<property name="date" ref="currentDate"/>
       </bean>  
</beans>