<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="boller" class="com.nit.sbeans.Boller">
		<!-- Setter Injection -->
		<property name="bollerName" value="Sunil" />
		<property name="wickets" value="3" />
	</bean>
	<bean id="batter" class="com.nit.sbeans.Batter">
		<!-- Setter Injection -->
		<property name="batterName" value="Lalit" />
		<property name="score" value="75" />
	</bean>
	
	<bean id="cricket" class="com.nit.sbeans.Cricket">
		<!-- Constructor Injection -->
		<constructor-arg value="IPL" />
		<constructor-arg ref="batter" />
		<constructor-arg ref="boller" />
	</bean>


</beans>