<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create Student</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<body>
	<div class="container">
  <h1>Create Student</h1>
  <form th:action="@{/students}" th:object="${student}" method="post">
    <label>Name:
      <input type="text" th:field="*{name}" />
    </label>
    <label>Passport Number:
      <input type="text" th:field="*{passport.number}" />
    </label>
    <button type="submit">Save</button>
  </form>
</div>
</body>

</body>

</html>
