<!--<?xml version="1.0" encoding="UTF-8"?>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->
    <bean id="dev" class="com.lp.Devloper" autowire="byType">
    </bean>

    <bean id="comp1" class="com.lp.Laptop" primary="true">
    </bean>

    <bean id="comp" class="com.lp.Desktop">
    </bean>
</beans>