<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <!-- cfg java classes as spring beans -->
        <bean id = "ltime" class="java.time.LocalTime" factory-method="now"/> <!-- dependent spring bean cfg -->
        
        <bean id="wmg" class="com.nt.sbeans.WishMessageGenerator"> <!-- target spring bean cfg -->
        	<property name="time" ref="ltime"/>
        </bean>
</beans>