@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f2f2f2;
}
form {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}
input, button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
